.errorpageWrapper {
  .errorpageContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .imageWrapper {
      max-width: 75%;
      height: 50%;
    }
    a {
      text-decoration: none;
      font-size: 33px;
      font-weight: bold;
      color: #612e93;
      &:hover {
        cursor: pointer;
        color: #ef397c;
      }
    }
  }
}
