@import '../../scss/variables';

$tile-color: rgba(29, 35, 42, 0.12);
$overlay: rgba(8, 166, 243, 0.4);
$overlay-text: rgba(8, 166, 243, 1);
$transition-speed: 1.5s;

.stack-wrapper {
  padding: 0 3rem;
  .skill-tile-title {
    margin: 20px 0;
    text-align: center;
    font-size: 3rem;
  }
  .skill-tile-wrapper {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    .icons {
      position: relative;
      font-size: 4.5em !important;
      margin: 10px !important;
      padding: 2rem !important;
      opacity: 0.93 !important;
      vertical-align: middle !important;
      text-align: center !important;
      border-radius: 5px !important;
      display: flex !important;
      border: 1px solid rgba(8, 166, 243, 0.5);
      box-shadow: 0 5px 4px 3px rgba(8, 166, 243, 0.1);
      overflow: hidden !important;
      transition: transform $transition-speed;
      -webkit-transition: transform $transition-speed;
      cursor: pointer;
      &:hover {
        overflow: hidden !important;
        svg {
          transform: translateZ(0) scale(1.45);
          transition: transform $transition-speed;
          -webkit-transition: transform $transition-speed;
        }
        .tile-overlay {
          display: block;
        }
      }
      svg {
        width: 100%;
      }
      .tile-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: $overlay;
        .hover-text {
          position: absolute;
          text-transform: uppercase;
          max-width: 70%;
          font-size: 0.75rem;
          line-height: 1.5rem;
          font-weight: 500;
          letter-spacing: 1px;
          top: 50%;
          z-index: 4;
          color: $theme-white;
          font-weight: bold;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          padding: 0.5rem;
          border-radius: 8px;
          background: $overlay-text;
          box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .stack-wrapper {
    .skill-tile-wrapper {
      .icons {
        margin: 10px !important;
        .tile-overlay {
          .hover-text {
            font-size: 8px;
            padding: 10px;
          }
        }
      }
    }
  }
}
