@import '../../scss/variables';

#resume {
  margin-top: 6rem;
  .navbar {
    background-color: $theme-card !important;
  }
  .resume-wrapper {
    position: relative;
    padding: 4rem 8rem;
  }
}

@media (max-width: 900px) {
  #resume {
    .resume-wrapper {
      padding: 0 2rem 2rem;
    }
  }
}
