@import "../../scss/variables";

$theme-purple: $theme-primary-blue;
$theme-purple-light: #45c0f9;

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $theme-light-grey;
  min-height: calc(100vh - 60px);
  .navbar {
    background-color: $theme-card !important;
  }
  .top-bar {
    width: 75%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    .heading {
      padding-left: 0 !important;
    }
  }
  .connect-container {
    position: relative;
    width: 75%;
    font-size: 24px;

    .connect-section {
      margin-bottom: 1.5em;

      &:first-child {
        margin-top: 1em;
      }
    }

    .connect-links {
      display: flex;
    }

    .connect-label {
      font-size: 0.9em;
    }

    .connect-social {
      font-size: 2em;
      padding: 0 0.6em;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $theme-purple;
        &:hover {
          color: $theme-purple-light;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  #contact {
    .top-bar {
      margin: 0;
      padding: 0 40px;
    }
    .connect-container {
      width: 100%;
      padding: 0 40px;
      font-size: 18px;
    }
  }
}
