@import "../../scss/variables";

.footer {
  position: relative;
  background-color: $theme-card;
  bottom: 0 !important;
  padding: 10px 0;
  .footer-row {
    width: 100%;
    .footer-copywright {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center !important;
      font-size: 0.8rem;
      color: #fff;
    }
    .footer-body {
      text-align: center !important;
      .footer-icons {
        margin-top: 0.5em !important;
        margin-bottom: 0.5em !important;
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 2rem;
    .footer-row {
      margin: 0;
      .footer-copywright {
        text-align: center !important;
        margin-bottom: 1rem;
      }
      .footer-body {
        text-align: center !important;
      }
    }
  }
}
