@import '../../scss/variables';

/* --------- */
/* Home section */
/* --------- */

$image-gradient: linear-gradient(
  to bottom left,
  rgba(17, 16, 16, 0.678),
  rgba(12, 10, 22, 0.863)
);

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-section {
  position: relative;
  z-index: -1;
  background-color: $theme-primary-dark;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.home-content {
  color: whitesmoke;
  text-align: left;
  .home-header {
    align-self: flex-end;
  }
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 3em !important;
  padding-left: 50px !important;
}

.main-name {
  color: $theme-primary-blue;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: $theme-primary-blue !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: $theme-primary-blue !important;
}

@media (max-width: $tab-small) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
  .home-content {
    .home-header {
      margin-bottom: 5rem;
    }
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: $tab-small) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

@media (max-width: $tab-big) {
  #aboutme {
    .profile-pic-wrapper {
      margin-bottom: 4rem;
    }
    .col-lg-9 {
      .about-message {
        padding: 0 2rem;
      }
    }
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: $theme-white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}
