//Theme

$theme-primary-blue: #08a6f3;
$theme-primary-dark: #0e1011;
$theme-white: #fff;
$theme-black: #000;
$theme-card: #1d232a;
$theme-grey: #777a7b;
$theme-light-grey: #9fa5ab;

//Dimensions

$tab-big: 1024px;
$tab-small: 800px;
$mobile: 670px;
